#about {
    background-color: var(--background);

    & p {
        margin-top: .75rem;
    }

    & .container {
        padding-block: 4rem;
    }

    & .separator {
        height: 1px;
        margin-block: 2.5rem;
        background-color: var(--primary);
    }

    & img:hover {
        cursor: pointer;
    }
}

@media (width >= 80rem) {
    #about {
        & .separator {
            height: 1px;
            width: 25.125rem;
            margin-block: 2.5rem;
            background-color: var(--primary);
        }

        & .container {
            padding-block: 4.875rem;
            gap: 10rem;
            align-items: center;

            & .content {
                width: 31.625rem;
            }
        }

        & .img-wrapper {
            position: relative;
            display: inline-block;
        }

        .img-wrapper img {
            position: relative;
            z-index: 1;
        }

        & .img-wrapper::before {
            content: "";
            position: absolute;
            border: 4px solid var(--primary);
            border-radius: 1.5rem;
            transform: translate(-6%, 10%);
            width: 32.1875rem;
            height: 31.125rem;
            inset: 0;
            z-index: 0;
        } 
    }
}